<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="ar" dir="rtl">
<!--<![endif]-->

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>كورة لايف -  المدرب</title>

<!-- Favicon
================================================== -->
<link rel="shortcut icon" href="images/favicon.png">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">

<!-- CSS
================================================== -->
<link href="css/custom.css" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>

<!--[if lt IE 8]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]--> 

<!-- Header
================================================== -->
<header>
  <div class="top-bar">
    <div class="container">
      <div class="row">
        <div id="datetime" class="no-padding-right col-sm-3"></div>
        <nav class="hot-access text-left no-padding-left col-sm-9">
          <ul class="list-inline">
            <li><a href="#">علي الناصية</a></li>
            <li><a href="#">مع القراء</a></li>
            <li><a href="#">مسابقات</a></li>
            <li><a href="#">خلفيات</a></li>
            <li><a href="#">كاريكاتير</a></li>
            <li><a href="#">انفوجرافيك</a></li>
            <li><a href="#">RSS</a></li>
            <li><a href="javascript:void(0)" data-toggle="modal" data-target="#login-box">تسجيل الدخول</a></li>
            <li><a href="javascript:void(0)" data-toggle="modal" data-target="#create-account">اشتراك جديد</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="site-name container">
    <div class="row">
      <div class="logo col-sm-2"> <a class="navbar-brand" href="#brand"><img src="images/brand/logo-black.png" class="logo" alt=""></a> </div>
      <div class="col-sm-10"></div>
    </div>
  </div>
</header>

<!-- Navigation
================================================== -->
<nav class="navbar navbar-default navbar-mobile bootsnav container no-padding-left"> 
  <!-- Nav search
================================================== -->
  <div class="top-search">
    <div class="container">
      <div class="input-group"> <span class="input-group-addon search"><i class="icofont icofont-search"></i></span>
        <input type="text" class="form-control" placeholder="Search">
        <span class="input-group-addon close-search"><i class="fa fa-times">s</i></span> </div>
    </div>
  </div>
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"> <i class="fa fa-bars">s</i> </button>
  </div>
  <div id="navbar-menu" class="collapse navbar-collapse no-padding-left">
    <ul class="nav navbar-nav navbar-right" data-in="fadeIn" data-out="fadeOut">
      <li><a href="#">الصفحة الرئيسية</a></li>
      <li><a href="#">المباريات</a></li>
      <li class="dropdown megamenu-fw"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">بطولات و دوريات</a>
        <ul class="dropdown-menu megamenu-content" role="menu">
          <li>
            <div class="row">
              <div class="col-menu col-md-3">
                <h6 class="title">Title Menu One</h6>
                <div class="content">
                  <ul class="menu-col">
                    <li><a href="#">Custom Menu</a></li>
                    <li><a href="#">Custom Menu</a></li>
                    <li><a href="#">Custom Menu</a></li>
                    <li><a href="#">Custom Menu</a></li>
                    <li><a href="#">Custom Menu</a></li>
                    <li><a href="#">Custom Menu</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-menu col-md-3">
                <h6 class="title">Title Menu Two</h6>
                <div class="content">
                  <ul class="menu-col">
                    <li><a href="#">Custom Menu</a></li>
                    <li><a href="#">Custom Menu</a></li>
                    <li><a href="#">Custom Menu</a></li>
                    <li><a href="#">Custom Menu</a></li>
                    <li><a href="#">Custom Menu</a></li>
                    <li><a href="#">Custom Menu</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-menu col-md-3">
                <h6 class="title">Title Menu Three</h6>
                <div class="content">
                  <ul class="menu-col">
                    <li><a href="#">Custom Menu</a></li>
                    <li><a href="#">Custom Menu</a></li>
                    <li><a href="#">Custom Menu</a></li>
                    <li><a href="#">Custom Menu</a></li>
                    <li><a href="#">Custom Menu</a></li>
                    <li><a href="#">Custom Menu</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-menu col-md-3">
                <h6 class="title">Title Menu Four</h6>
                <div class="content">
                  <ul class="menu-col">
                    <li><a href="#">Custom Menu</a></li>
                    <li><a href="#">Custom Menu</a></li>
                    <li><a href="#">Custom Menu</a></li>
                    <li><a href="#">Custom Menu</a></li>
                    <li><a href="#">Custom Menu</a></li>
                    <li><a href="#">Custom Menu</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </li>
      <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" >البث المباشر</a>
        <ul class="dropdown-menu">
          <li><a href="#">Custom Menu</a></li>
          <li><a href="#">Custom Menu</a></li>
          <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Sub Menu</a>
            <ul class="dropdown-menu">
              <li><a href="#">Custom Menu</a></li>
              <li><a href="#">Custom Menu</a></li>
              <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Sub Menu</a>
                <ul class="dropdown-menu">
                  <li><a href="#">Custom Menu</a></li>
                  <li><a href="#">Custom Menu</a></li>
                  <li><a href="#">Custom Menu</a></li>
                  <li><a href="#">Custom Menu</a></li>
                </ul>
              </li>
              <li><a href="#">Custom Menu</a></li>
            </ul>
          </li>
          <li><a href="#">Custom Menu</a></li>
          <li><a href="#">Custom Menu</a></li>
          <li><a href="#">Custom Menu</a></li>
          <li><a href="#">Custom Menu</a></li>
        </ul>
      </li>
      <li><a href="#">فيديوهات</a></li>
      <li><a href="#">ألبوم الصور</a></li>
      <li><a href="#">أخبار</a></li>
      <li><a href="#">اللاعبون</a></li>
      <li><a href="#">النوادي</a></li>
      <li><a href="#">الاستادات</a></li>
      <li><a href="#">المعلقون</a></li>
      <li><a href="#">الحكام</a></li>
    </ul>
    <div class="attr-nav">
      <ul>
        <li class="side-menu"><a href="#">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 294.843 294.843" style="enable-background:new 0 0 294.843 294.843;" xml:space="preserve" width="32px" height="32px">
            <g>
              <path d="M147.421,0C66.133,0,0,66.133,0,147.421c0,40.968,17.259,80.425,47.351,108.255c2.433,2.25,6.229,2.101,8.479-0.331   c2.25-2.434,2.102-6.229-0.332-8.479C27.854,221.3,12,185.054,12,147.421C12,72.75,72.75,12,147.421,12   s135.421,60.75,135.421,135.421s-60.75,135.421-135.421,135.421c-3.313,0-6,2.687-6,6s2.687,6,6,6   c81.289,0,147.421-66.133,147.421-147.421S228.71,0,147.421,0z" fill="#FFFFFF"/>
              <path d="M84.185,90.185h126.473c3.313,0,6-2.687,6-6s-2.687-6-6-6H84.185c-3.313,0-6,2.687-6,6S80.872,90.185,84.185,90.185z" fill="#FFFFFF"/>
              <path d="M84.185,153.421h126.473c3.313,0,6-2.687,6-6s-2.687-6-6-6H84.185c-3.313,0-6,2.687-6,6S80.872,153.421,84.185,153.421z" fill="#FFFFFF"/>
              <path d="M216.658,210.658c0-3.313-2.687-6-6-6H84.185c-3.313,0-6,2.687-6,6s2.687,6,6,6h126.473   C213.971,216.658,216.658,213.971,216.658,210.658z" fill="#FFFFFF"/>
            </g>
            <g> </g>
            <g> </g>
            <g> </g>
            <g> </g>
            <g> </g>
            <g> </g>
            <g> </g>
            <g> </g>
            <g> </g>
            <g> </g>
            <g> </g>
            <g> </g>
            <g> </g>
            <g> </g>
            <g> </g>
          </svg>
          </a></li>
        <li class="search"><a href="#">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_2" x="0px" y="0px" viewBox="0 0 489.4 489.4" style="enable-background:new 0 0 489.4 489.4; " xml:space="preserve" width="24px" height="24px">
            <g>
              <path d="M483.1,454.038l-109.6-109.6c29.9-36.4,47.9-83,47.9-133.7c0-116.2-94.5-210.7-210.7-210.7S0,94.538,0,210.738   s94.5,210.7,210.7,210.7c50.7,0,97.3-18,133.7-47.9l109.6,109.6c8.3,8.3,20.8,8.3,29.1,0   C491.5,474.837,491.5,462.337,483.1,454.038z M41,210.738c0-93.6,76.1-169.7,169.7-169.7s169.7,76.1,169.7,169.7   s-76.1,169.7-169.7,169.7S41,304.337,41,210.738z" fill="#FFFFFF"/>
            </g>
            <g> </g>
            <g> </g>
            <g> </g>
            <g> </g>
            <g> </g>
            <g> </g>
            <g> </g>
            <g> </g>
            <g> </g>
            <g> </g>
            <g> </g>
            <g> </g>
            <g> </g>
            <g> </g>
            <g> </g>
          </svg>
          </a></li>
      </ul>
    </div>
  </div>
  <!-- Side menu
================================================== -->
  <div class="side"> <a href="#" class="close-side"><i class="fa fa-times"></i></a>
    <div class="widget">
      <h6 class="title">Custom Pages</h6>
      <ul class="link">
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="widget">
      <h6 class="title">Additional Links</h6>
      <ul class="link">
        <li><a href="#">Retina Homepage</a></li>
        <li><a href="#">New Page Examples</a></li>
        <li><a href="#">Parallax Sections</a></li>
        <li><a href="#">Shortcode Central</a></li>
        <li><a href="#">Ultimate Font Collection</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- Data
================================================== -->
<main class="container">
  <div class="row data"> 
    <!-- Breadcrumb
================================================== -->
     <div class="col-sm-12">
          <ol class="breadcrumb">
            <li><a href="#">الصفحة الرئيسية</a></li>
            <li><a href="#">اللاعبون</a></li>
            <li class="active">ليوناردو</li>
          </ol>
    </div>
    <!-- Content
================================================== -->
    <div class="col-sm-12">
      <div class="row no-gutters">
        <div class="col-sm-12">
          <div class="row no-gutters">
            <div class="col-sm-4"><img class="img-responsive" src="images/ronaldo.jpg" width="1600" height="900" alt=""/></div>
            <div class="col-sm-8">
              <div class="bg-info text-white">
                <div class="title custom-title">
                  <p>جاريث بيل </p>
                </div>
                <div class="padding-all no-padding-top">
                  <p class="add-opacity">لاعب كرة قدم ويلزي يلعب مع نادي ريال مدريد الإسباني. يعتبر النجم الويلزي المولود في كارديف سيتي رياضي بحت فكان يمارس الركبي والهوكي في مدرسته وكذلك قدرته على اللعب كظهير وجناح ومهاجم على الأطراف مهما يكن فيكفي بأن المدرب البرتغالي جوزيه مورينيو قد قال بأن بيل سيكون أحد أبرز اللاعبين في دوري الدرجة الممتازة في المستقبل</p>
                  <ul class="row list-inline add-opacity">
                    <li class="col-sm-4">
                      <dl>
                        <dt><i class="icofont icofont-curved-double-left"></i> الاسم الكامل</dt>
                        <dd>غاريث فرانك بيل</dd>
                      </dl>
                    </li>
                    <li class="col-sm-4">
                      <dl>
                        <dt><i class="icofont icofont-curved-double-left"></i> الميلاد</dt>
                        <dd> 16 يوليو 1989 (العمر 27 سنة)</dd>
                      </dl>
                    </li>
                    <li class="col-sm-4">
                      <dl>
                        <dt><i class="icofont icofont-curved-double-left"></i> الجنسية</dt>
                        <dd>ويلز</dd>
                      </dl>
                    </li>
                    <li class="col-sm-4">
                      <dl>
                        <dt><i class="icofont icofont-curved-double-left"></i> اللقب</dt>
                        <dd> القطار الويلزي ، النفاثه الويلزية</dd>
                      </dl>
                    </li>
                    <li class="col-sm-4">
                      <dl>
                        <dt><i class="icofont icofont-curved-double-left"></i> النادي</dt>
                        <dd>ريال مدريد</dd>
                      </dl>
                    </li>
                    <li class="col-sm-4">
                      <dl>
                        <dt><i class="icofont icofont-curved-double-left"></i> المنتخب</dt>
                        <dd>ويلز</dd>
                      </dl>
                    </li>
                    <li class="col-sm-4">
                      <dl>
                        <dt><i class="icofont icofont-curved-double-left"></i> الوزن</dt>
                        <dd> 74 كيلوغرام </dd>
                      </dl>
                    </li>
                    <li class="col-sm-4">
                      <dl>
                        <dt><i class="icofont icofont-curved-double-left"></i> الطول</dt>
                        <dd>1.83 متر (6 قدم 0 إنش)</dd>
                      </dl>
                    </li>
                    <li class="col-sm-4">
                      <dl>
                        <dt><i class="icofont icofont-curved-double-left"></i> مركز اللعب</dt>
                        <dd>جناح</dd>
                      </dl>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 ">
            <div class="row no-gutters">
              <div class="col-sm-4">
                <div class="panel panel-dark panel-colorful">
                  <div class="panel-body">
                    <div class="list-group bg-trans">
                      <li class="list-group-item"><span><i class="icofont icofont-growth"></i> <strong>القيمة السوقية الحالية: </strong></span><span>9٠ مليون يورو</span></li>
                      <li class="list-group-item"><span><i class="icofont icofont-world"></i> <strong>آخر الانتقالات: </strong></span><span>مارس ٢٠١٣</span></li>
                      <li class="list-group-item"><span><i class="icofont icofont-money-bag"></i> <strong>أعلي قيمة سوقية: </strong></span><span>94 مليون يورو</span></li>
<li class="list-group-item"><span><i class="icofont icofont-award"></i> <strong>أهدافه مجموع: </strong></span><span>١٢ هدف </span></li>
                      <li class="list-group-item"><span><i class="icofont icofont-money-bag"></i> <strong>مركز اللعب: </strong></span><span>94 مليون يورو</span></li>
                      <li class="list-group-item"><span><i class="icofont icofont-money-bag"></i> <strong>الوكيل: </strong></span><span>94 مليون يورو</span></li>
                    </div>
                  </div>
                </div>
                <div class="advertising"><img width="300" height="250" alt="" src="images/ad-300-250.jpg" class="img-responsive"></div>
              </div>
              <div class="col-sm-8">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="title">
                      <p>احصائيات البطولة الحالية</p>
                    </div>
                    </div>
                  <div class="col-sm-6">
                    <div class="card-box widget-box-one"> <i class="icofont icofont-football-alt mdi mdi-layers widget-one-icon"></i>
                      <div class="wigdet-one-content">
                        <p>الأهداف</p>
                        <h2>895 <small> <i class="icofont icofont-long-arrow-up mdi mdi-arrow-down text-danger"></i> </small></h2>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card-box widget-box-one"> <i class="icofont icofont-kick mdi mdi-layers widget-one-icon"></i>
                      <div class="wigdet-one-content">
                        <p>ضربات الجزاء</p>
                        <h2>895 <small> <i class="icofont icofont-long-arrow-up mdi mdi-arrow-down text-danger"></i> </small></h2>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card-box widget-box-one"> <i class="icofont icofont-penalty-card mdi mdi-layers widget-one-icon"></i>
                      <div class="wigdet-one-content">
                        <p>كارت أصفر</p>
                        <h2>895 <small> <i class="icofont icofont-long-arrow-up mdi mdi-arrow-down text-danger"></i> </small></h2>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card-box widget-box-one"><i class="icofont icofont-penalty-card mdi mdi-layers widget-one-icon"></i>
                      <div class="wigdet-one-content">
                        <p>كارت أحمر</p>
                        <h2>895 <small> <i class="icofont icofont-long-arrow-up mdi mdi-arrow-down text-danger"></i> </small></h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="title">
              <p>صور اللاعب</p>
            </div>
            <div id="pharmacy-imgs" class="owl-carousel gallery">
              <div> <a href="images/slide-img-1.jpg"><img class="img-responsive" src="images/slide-img-1.jpg" alt=""/></a></div>
              <div> <a href="images/slide-img-2.jpg"><img class="img-responsive" src="images/slide-img-2.jpg" alt=""/></a></div>
              <div> <a href="images/slide-img-3.jpg"><img class="img-responsive" src="images/slide-img-3.jpg" alt=""/></a></div>
              <div> <a href="images/slide-img-4.jpg"><img class="img-responsive" src="images/slide-img-4.jpg" alt=""/></a></div>
              <div> <a href="images/slide-img-5.jpg"><img class="img-responsive" src="images/slide-img-5.jpg" alt=""/></a></div>
              <div> <a href="images/slide-img-6.jpg"><img class="img-responsive" src="images/slide-img-6.jpg" alt=""/></a></div>
              <div> <a href="images/slide-img-7.jpg"><img class="img-responsive" src="images/slide-img-7.jpg" alt=""/></a></div>
              <div> <a href="images/slide-img-8.jpg"><img class="img-responsive" src="images/slide-img-8.jpg" alt=""/></a></div>
              <div> <a href="images/slide-img-9.jpg"><img class="img-responsive" src="images/slide-img-9.jpg" alt=""/></a></div>
              <div> <a href="images/slide-img-1.jpg"><img class="img-responsive" src="images/slide-img-1.jpg" alt=""/></a></div>
              <div> <a href="images/slide-img-2.jpg"><img class="img-responsive" src="images/slide-img-2.jpg" alt=""/></a></div>
              <div> <a href="images/slide-img-3.jpg"><img class="img-responsive" src="images/slide-img-3.jpg" alt=""/></a></div>
              <div> <a href="images/slide-img-4.jpg"><img class="img-responsive" src="images/slide-img-4.jpg" alt=""/></a></div>
              <div> <a href="images/slide-img-5.jpg"><img class="img-responsive" src="images/slide-img-5.jpg" alt=""/></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- Footer
================================================== -->
<footer></footer>
<!-- Login & Create Account 
	================================================== -->
<div class="modal fade" id="create-account" tabindex="-1" role="dialog" aria-labelledby="loginboxLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close hvr-sweep-to-right-primary" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="list-inline social-login row">
          <li class="col-sm-6"> <a href="#" class="btn btn-block btn-facebook  " ><i class="icofont icofont-social-facebook"></i></a> </li>
          <li class="col-sm-6"> <a href="#" class="btn btn-block btn-twitter" ><i class="icofont icofont-social-twitter"></i></a></li>
        </ul>
        <hr>
        <form method="post" id="login-form" action="#">
          <div class="row">
            <div class="col-sm-6">
              <div class=" form-group">
                <label class="control-label" for="login-name">first name <span class="req">*</span></label>
                <input type="text" class="form-control" value="" name="login[name]" id="login-name-1" required>
              </div>
            </div>
            <div class="col-sm-6">
              <div class=" form-group">
                <label class="control-label" for="login-name">last name</label>
                <input type="text" class="form-control" value="" name="login[name]" id="login-name-2">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class=" form-group">
                <label class="control-label" for="login-name">display name <span class="req">*</span></label>
                <input type="text" class="form-control" value="" name="login[name]" id="display-name" placeholder="This will be your name " required>
              </div>
            </div>
            <div class="col-sm-12">
              <div class=" form-group">
                <label class="control-label" for="login-name">email address <span class="req">*</span></label>
                <input type="email" class="form-control" value="" name="login[mail]" id="login-mail" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label text-uppercase" for="login-password">Your password <span class="req">*</span></label>
                <input type="password" class="form-control" value="" name="login[password]" id="login-password-1" placeholder="Letters &amp; numbers only" required>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label text-uppercase" for="login-password">confirm password <span class="req">*</span></label>
                <input type="password" class="form-control" value="" name="login[password]" id="login-password-2" required>
              </div>
            </div>
          </div>
          <div class="checkbox">
            <input type="checkbox" id="registercheckbox" value="option1" name="registercheckbox">
            <label for="registercheckbox"> I agree to the <a href="#"><span class="text-capitalize">terms &amp; conditions.</span></a> </label>
          </div>
          <button class="btn btn-block btn-primary hvr-sweep-to-right-primary" id="login-submit" type="submit">create my account</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="login-box" tabindex="-1" role="dialog" aria-labelledby="loginboxLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close hvr-sweep-to-right-primary" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="list-inline social-login row">
          <li class="col-sm-6"> <a href="#" class="btn btn-block btn-facebook  " ><i class="icofont icofont-social-facebook"></i></a> </li>
          <li class="col-sm-6"> <a href="#" class="btn btn-block btn-twitter" ><i class="icofont icofont-social-twitter"></i></a></li>
        </ul>
        <hr>
        <form method="post" id="the-login-form" action="#">
          <div class=" form-group">
            <label class="control-label" for="login-name">Your name</label>
            <input type="text" class="form-control" value="" name="login[name]" id="login-name" required>
          </div>
          <div class="form-group">
            <label class="control-label text-uppercase" for="login-password">Your password</label>
            <input type="password" class="form-control" value="" name="login[password]" id="login-password" required>
          </div>
          <div class="checkbox">
            <input type="checkbox" id="logincheckbox" value="option1" name="logincheckbox">
            <label for="logincheckbox"> keep me logged in </label>
          </div>
          <button class="btn btn-block btn-primary hvr-sweep-to-right-primary" id="the-login-submit" type="submit">login</button>
        </form>
      </div>
      <div class="modal-footer">
        <p class="text-center"><small>Forget your password? <a href="#">Ok, restore it.</a></small></p>
      </div>
    </div>
  </div>
</div>
<!-- JS
================================================== --> 
<script src="js/jquery-1.11.3.min.js"></script> 
<script src="https://www.gstatic.com/charts/loader.js"></script> 
<script src="js/easing.1.3.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/moment.min.js"></script> 
<script src="js/ar-sa.js"></script> 
<script src="js/bootsnav.js"></script> 
<script src="js/owl.carousel.min.js"></script> 
<script src="js/hammer.min.js"></script> 
<script src="js/count-down.js"></script> 
<script src="js/nicescroll.min.js"></script> 
<script src="js/sliphover.js"></script> 
<script src="js/salvattore.js"></script> 
<script src="js/magnific-popup.js"></script> 
<script src="js/custom.js"></script>
</body>
</html>